pkgbase = zet
	pkgdesc = CLI utility to find the union, intersection, set difference, etc of files considered as sets of lines
	pkgver = 2.0.1
	pkgrel = 1
	url = https://github.com/yarrow/zet
	arch = x86_64
	license = APACHE
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	source = zet-2.0.1.tar.gz::https://static.crates.io/crates/zet/zet-2.0.1.crate
	b2sums = 79420988b541e2a6f70942dd6ab64c16dd9da2ff233adf901bc89d9b2c4fe6134d6aafaee1ab91b1f6a9da8fb38a6d491214603537ed416e1dede4971f344faa

pkgname = zet
